# New

In [1]:
import pandas as pd
from datetime import datetime
from sklearn.model_selection import train_test_split

In [2]:
cards_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project15/cards_data.csv')
users_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project15/users_data.csv')
transactions_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Project15/transactions_data.csv')

In [3]:
cards_df.head()

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Visa,Debit,4344676511950444,12/2022,623,YES,2,$24295,09/2002,2008,No
1,2731,825,Visa,Debit,4956965974959986,12/2020,393,YES,2,$21968,04/2014,2014,No
2,3701,825,Visa,Debit,4582313478255491,02/2024,719,YES,2,$46414,07/2003,2004,No
3,42,825,Visa,Credit,4879494103069057,08/2024,693,NO,1,$12400,01/2003,2012,No
4,4659,825,Mastercard,Debit (Prepaid),5722874738736011,03/2009,75,YES,1,$28,09/2008,2009,No

In [4]:
cards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6146 entries, 0 to 6145
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6146 non-null   int64
 1   client_id              6146 non-null   int64
 2   card_brand             6146 non-null   object
 3   card_type              6146 non-null   object
 4   card_number            6146 non-null   int64
 5   expires                6146 non-null   object
 6   cvv                    6146 non-null   int64
 7   has_chip               6146 non-null   object
 8   num_cards_issued       6146 non-null   int64
 9   credit_limit           6146 non-null   object
 10  acct_open_date         6146 non-null   object
 11  year_pin_last_changed  6146 non-null   int64
 12  card_on_dark_web       6146 non-null   object
dtypes: int64(6), object(7)
memory usage: 624.3+ KB

In [5]:
users_df.head()

,id,current_age,retirement_age,birth_year,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,66,1966,11,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787,5
1,1746,53,68,1966,12,Female,3606 Federal Boulevard,40.76,-73.74,$37891,$77254,$191349,701,5
2,1718,81,67,1938,11,Female,766 Third Drive,34.02,-117.89,$22681,$33483,$196,698,5
3,708,63,63,1957,1,Female,3 Madison Street,40.71,-73.99,$163145,$249925,$202328,722,4
4,1164,43,70,1976,9,Male,9620 Valley Stream Drive,37.76,-122.44,$53797,$109687,$183855,675,1

In [6]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2000 non-null   int64
 1   current_age        2000 non-null   int64
 2   retirement_age     2000 non-null   int64
 3   birth_year         2000 non-null   int64
 4   birth_month        2000 non-null   int64
 5   gender             2000 non-null   object
 6   address            2000 non-null   object
 7   latitude           2000 non-null   float64
 8   longitude          2000 non-null   float64
 9   per_capita_income  2000 non-null   object
 10  yearly_income      2000 non-null   object
 11  total_debt         2000 non-null   object
 12  credit_score       2000 non-null   int64
 13  num_credit_cards   2000 non-null   int64
dtypes: float64(2), int64(7), object(5)
memory usage: 218.9+ KB

In [7]:
transactions_df.head()

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2010-01-01 00:01:00,1556,2972,$-77.00,Swipe Transaction,59935,Beulah,ND,58523.0,5499,NaN
1,7475328,2010-01-01 00:02:00,561,4575,$14.57,Swipe Transaction,67570,Bettendorf,IA,52722.0,5311,NaN
2,7475329,2010-01-01 00:02:00,1129,102,$80.00,Swipe Transaction,27092,Vista,CA,92084.0,4829,NaN
3,7475331,2010-01-01 00:05:00,430,2860,$200.00,Swipe Transaction,27092,Crown Point,IN,46307.0,4829,NaN
4,7475332,2010-01-01 00:06:00,848,3915,$46.41,Swipe Transaction,13051,Harwood,MD,20776.0,5813,NaN

In [8]:
transactions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   date            object
 2   client_id       int64
 3   card_id         int64
 4   amount          object
 5   use_chip        object
 6   merchant_id     int64
 7   merchant_city   object
 8   merchant_state  object
 9   zip             float64
 10  mcc             int64
 11  errors          object
dtypes: float64(1), int64(5), object(6)
memory usage: 1.2+ GB

In [9]:

merged_df = pd.merge(users_df, transactions_df, left_on='id', right_on='client_id', how='inner')

In [10]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 26 columns):
 #   Column             Dtype
---  ------             -----
 0   id_x               int64
 1   current_age        int64
 2   retirement_age     int64
 3   birth_year         int64
 4   birth_month        int64
 5   gender             object
 6   address            object
 7   latitude           float64
 8   longitude          float64
 9   per_capita_income  object
 10  yearly_income      object
 11  total_debt         object
 12  credit_score       int64
 13  num_credit_cards   int64
 14  id_y               int64
 15  date               object
 16  client_id          int64
 17  card_id            int64
 18  amount             object
 19  use_chip           object
 20  merchant_id        int64
 21  merchant_city      object
 22  merchant_state     object
 23  zip                float64
 24  mcc                int64
 25  errors             object
dtypes: float64(3), int64(12), object(11)
memory usage: 2.6+ GB

In [11]:
merged_df.drop(['num_credit_cards', 'id_x', 'id_y', 'client_id', 'errors'], axis=1, inplace=True)

In [12]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 21 columns):
 #   Column             Dtype
---  ------             -----
 0   current_age        int64
 1   retirement_age     int64
 2   birth_year         int64
 3   birth_month        int64
 4   gender             object
 5   address            object
 6   latitude           float64
 7   longitude          float64
 8   per_capita_income  object
 9   yearly_income      object
 10  total_debt         object
 11  credit_score       int64
 12  date               object
 13  card_id            int64
 14  amount             object
 15  use_chip           object
 16  merchant_id        int64
 17  merchant_city      object
 18  merchant_state     object
 19  zip                float64
 20  mcc                int64
dtypes: float64(3), int64(8), object(10)
memory usage: 2.1+ GB

In [13]:
merged_df = pd.merge(merged_df, cards_df, left_on="card_id", right_on="id", how="inner")

In [14]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 34 columns):
 #   Column                 Dtype
---  ------                 -----
 0   current_age            int64
 1   retirement_age         int64
 2   birth_year             int64
 3   birth_month            int64
 4   gender                 object
 5   address                object
 6   latitude               float64
 7   longitude              float64
 8   per_capita_income      object
 9   yearly_income          object
 10  total_debt             object
 11  credit_score           int64
 12  date                   object
 13  card_id                int64
 14  amount                 object
 15  use_chip               object
 16  merchant_id            int64
 17  merchant_city          object
 18  merchant_state         object
 19  zip                    float64
 20  mcc                    int64
 21  id                     int64
 22  client_id              int64
 23  card_brand             object
 24  card_type              object
 25  card_number            int64
 26  expires                object
 27  cvv                    int64
 28  has_chip               object
 29  num_cards_issued       int64
 30  credit_limit           object
 31  acct_open_date         object
 32  year_pin_last_changed  int64
 33  card_on_dark_web       object
dtypes: float64(3), int64(14), object(17)
memory usage: 3.4+ GB

In [15]:
drop_cols = ['birth_year', 'birth_month','address', 'date', 'card_id', 'use_chip', 'merchant_state',
             'zip', 'id', 'client_id', 'card_number', 'cvv', 'merchant_id', 'expires',
             'num_cards_issued', 'year_pin_last_changed', 'card_on_dark_web', 'retirement_age']

merged_df.drop(drop_cols, axis=1, inplace=True)

In [16]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   current_age        int64
 1   gender             object
 2   latitude           float64
 3   longitude          float64
 4   per_capita_income  object
 5   yearly_income      object
 6   total_debt         object
 7   credit_score       int64
 8   amount             object
 9   merchant_city      object
 10  mcc                int64
 11  card_brand         object
 12  card_type          object
 13  has_chip           object
 14  credit_limit       object
 15  acct_open_date     object
dtypes: float64(2), int64(3), object(11)
memory usage: 1.6+ GB

In [17]:
merged_df['acct_open_date'] = pd.to_datetime(merged_df['acct_open_date'])

current_date = datetime.now()

merged_df['account_age'] = (current_date - merged_df['acct_open_date']).dt.days // 365

merged_df.drop('acct_open_date', axis=1, inplace=True)

<ipython-input-17-a5508d186fe7>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  merged_df['acct_open_date'] = pd.to_datetime(merged_df['acct_open_date'])

In [18]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   current_age        int64
 1   gender             object
 2   latitude           float64
 3   longitude          float64
 4   per_capita_income  object
 5   yearly_income      object
 6   total_debt         object
 7   credit_score       int64
 8   amount             object
 9   merchant_city      object
 10  mcc                int64
 11  card_brand         object
 12  card_type          object
 13  has_chip           object
 14  credit_limit       object
 15  account_age        int64
dtypes: float64(2), int64(4), object(10)
memory usage: 1.6+ GB

In [19]:
merged_df.head()

,current_age,gender,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,amount,merchant_city,mcc,card_brand,card_type,has_chip,credit_limit,account_age
0,53,Female,34.15,-117.76,$29278,$59696,$127613,787,$10.24,Syracuse,5411,Visa,Credit,NO,$12400,22
1,53,Female,34.15,-117.76,$29278,$59696,$127613,787,$97.52,Camden,5311,Visa,Credit,NO,$12400,22
2,53,Female,34.15,-117.76,$29278,$59696,$127613,787,$138.32,Syracuse,5300,Visa,Credit,NO,$12400,22
3,53,Female,34.15,-117.76,$29278,$59696,$127613,787,$-410.00,Syracuse,7011,Visa,Credit,NO,$12400,22
4,53,Female,34.15,-117.76,$29278,$59696,$127613,787,$181.83,Syracuse,7011,Visa,Credit,NO,$12400,22

In [20]:
merged_df['card_brand'].value_counts()

card_brand
Mastercard    7157399
Visa          4957563
Amex           854490
Discover       336463
Name: count, dtype: int64

In [21]:
merged_df.isnull().sum()

current_age          0
gender               0
latitude             0
longitude            0
per_capita_income    0
yearly_income        0
total_debt           0
credit_score         0
amount               0
merchant_city        0
mcc                  0
card_brand           0
card_type            0
has_chip             0
credit_limit         0
account_age          0
dtype: int64

In [22]:
num_col = ['per_capita_income', 'yearly_income', 'total_debt', 'amount', 'credit_limit']

In [23]:
for col in num_col:
  merged_df[col] = merged_df[col].astype(str).str.replace(r'[$,]', '', regex=True)
  merged_df[col] = merged_df[col].replace('', pd.NA)
  merged_df[col] = pd.to_numeric(merged_df[col], errors='coerce')

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13305915 entries, 0 to 13305914
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   current_age        int64
 1   gender             object
 2   latitude           float64
 3   longitude          float64
 4   per_capita_income  int64
 5   yearly_income      int64
 6   total_debt         int64
 7   credit_score       int64
 8   amount             float64
 9   merchant_city      object
 10  mcc                int64
 11  card_brand         object
 12  card_type          object
 13  has_chip           object
 14  credit_limit       int64
 15  account_age        int64
dtypes: float64(3), int64(8), object(5)
memory usage: 1.6+ GB

In [24]:
merged_df.isnull().sum()

current_age          0
gender               0
latitude             0
longitude            0
per_capita_income    0
yearly_income        0
total_debt           0
credit_score         0
amount               0
merchant_city        0
mcc                  0
card_brand           0
card_type            0
has_chip             0
credit_limit         0
account_age          0
dtype: int64

In [25]:
merged_df['per_capita_income'].value_counts()

per_capita_income
0        74491
16901    60252
24044    50763
25537    46366
26137    42462
         ...
19474     2305
16648     1997
28916     1983
24845     1845
92938      760
Name: count, Length: 1120, dtype: int64

# spliting

In [ ]:
x = merged_df.drop('card_brand', axis=1)
y = merged_df['card_brand']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [ ]:
train = pd.concat([x_train, y_train], axis=1)
test = pd.concat([x_test, y_test], axis=1)

train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)

# decreasing

In [26]:
merged_df['card_brand'].value_counts()

card_brand
Mastercard    7157399
Visa          4957563
Amex           854490
Discover       336463
Name: count, dtype: int64

In [27]:
merged_df['card_brand'].value_counts().sum()

13305915

In [28]:
group_A = merged_df[merged_df['card_brand'] == 'Mastercard']

delete_A = int(len(group_A) * 0.8)

rows_delete_A = group_A.sample(n=delete_A, random_state=42)

df_cleaned = merged_df.drop(rows_delete_A.index).reset_index(drop=True)

In [29]:
df_cleaned['card_brand'].value_counts()

card_brand
Visa          4957563
Mastercard    1431480
Amex           854490
Discover       336463
Name: count, dtype: int64

In [30]:
group_B = df_cleaned[df_cleaned['card_brand'] == 'Visa']
delete_B = int(len(group_B) * 0.7)
rows_delete_B = group_B.sample(n=delete_B, random_state=42)
df_short = df_cleaned.drop(rows_delete_B.index).reset_index(drop=True)

In [31]:
df_short['card_brand'].value_counts()

card_brand
Visa          1487269
Mastercard    1431480
Amex           854490
Discover       336463
Name: count, dtype: int64

# Spliting

In [32]:
x = df_short.drop('card_brand', axis=1)
y = df_short['card_brand']

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [34]:
train_short = pd.concat([x_train, y_train], axis=1)
test_short = pd.concat([x_test, y_test], axis=1)

train_short.to_csv("train_short.csv", index=False)
test_short.to_csv("test_short.csv", index=False)

In [37]:
train_short['card_brand'].value_counts().sum()

2876791